@media (max-width: 499px) {
  .Label {
    padding: 4% !important;
  }
  .BuildControlBtnMore,
  .BuildControlBtnLess {
    height: 25px !important;
    width: 25px !important;
    font-size: 0.9rem !important;
    padding: 4% !important;
  }

}

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
  padding: 10px;
  font-weight: 600;
  width: 80px;
  color: rgb(0, 0, 0);
}

.BuildControlBtnMore,
.BuildControlBtnLess {
    display: block;
    font: inherit;
    margin: 0 5px;
    height: 30px;
    width: 30px;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.6);
    font-weight: 600;
  }
  
  .BuildControlBtnMore:hover,
  .BuildControlBtnLess:hover {
    background: white;

  }
  .BuildControlBtnMore:focus,
  .BuildControlBtnLess:focus {
    outline: none;
  }

  .BuildControlBtnMore{
       background: linear-gradient( #76fffd 30%, #1efffa 65%, #00fffb 100%); 
  }
  .BuildControlBtnLess{
       background: linear-gradient( #ff61ff 30%, #e506e5 65%, #a100a1 100%); 
  }

  .Price {
    padding: 5px;
    margin: 5px;
    font-style: italic;
  }

