.Toolbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 90%;
}

.Menu,
.Icon {
    text-shadow: 1px 1px #ff51ff;
    color: black;
    font-weight: 600;
}

.Icon:hover {
    color: #1efffa;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
