.OsBtn {
    border: none;
    padding: 10px;
    background: linear-gradient( #4afffc ,#1efffa ,#00e9e5 );
    text-shadow: 1px 1px #ff51ff; 
    border-radius: 5px;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    width: 300px;
    font: inherit;
    box-shadow:black;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .OsBtn:hover {
    opacity: 75%;
  }

  .OsBtn:focus {
    outline: none;
  }

.LabelCap {
    text-transform: capitalize;
}

@media (max-width: 499px) {
  .OsBtn {
    width: 200px !important;
    font-size: 0.9rem !important;
  }
}

.OsSum {
    text-shadow: 1px 1px #ff51ff; 
}