.OsSum {
  padding-top: 125px;
}

.OsBtn {
    border: none;
    padding: 10px;
    background: linear-gradient( #4afffc ,#1efffa ,#00e9e5 );
    border-radius: 5px;
    font-size: 1.2rem !important;
    width: 300px;
    font: inherit;
    box-shadow:black;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .OsBtn:hover {
    background: linear-gradient( #b4fffe 30%, #79fffd 65%, #5bfffc 100%);
  }

  .OsBtn:focus {
    outline: none;
  }

.LabelCap {
    text-transform: capitalize;
}

@media (max-width: 499px) {
  .OsBtn {
    width: 200px !important;
    font-size: 0.9rem !important;
    
  }
}

