.OsBtn {
    border: none;
    padding: 10px;
    background: linear-gradient(rgb(36, 131, 255), rgb(55, 0, 255), rgb(36, 131, 255));
    border-radius: 5px;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    width: 300px;
    font: inherit;
    box-shadow:black;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .OsBtn:hover {
    opacity: 75%;
  }

  .OsBtn:focus {
    outline: none;
  }

.LabelCap {
    text-transform: capitalize;
}