.BreadBottom {
    height: 13%;
    width: 80%;
    background: linear-gradient(#F08E4A, #e27b36);
    border-radius: 0 0 30px 30px;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
}

.BreadTop {
    height: 20%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
    position: relative;
}

.Seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

  .Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
  }
  
  .Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.Meat {
    width: 80%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 15px;
}

.Cheese {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 80%;
    height: 4%;
    background: linear-gradient(#992d0f, #ca246f);
    margin: 2% auto;
}

.Pickles {
    width: 15%;
    margin: 2%;
    height: 2%;
    background: linear-gradient(#033a00, #81c539);
    display: inline-block;
    border-radius: 20px;
}
.Tomato {
  width: 80%;
  background: linear-gradient(#a00000, #ff0d11);
  height: 3%;
  margin: 2% auto;
  }

.Onion {
  width: 40%;
  background: linear-gradient(#6b153c, #ff3690);
  height: 2%;
  border-radius: 10px;
  margin: 2%;
  display: inline-block;
  }

  .Egg {
    width: 80%;
    height: 4%;
    background: linear-gradient(#eee8da 80%, #afa38b);
    border-radius: 100%;
    border: 2px solid black;
    margin: 2% auto;
  }

  .Yolk {
    width: 20%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(#f7e77b 40%, #d2b419 70%, #d2b419 100%);
    border-radius: 100%;
  }

  .Chicken {
    width: 80%;
    height: 8%;
    background: linear-gradient(90deg, #e19230, #c65a03 70%),
              linear-gradient(200deg, #e19230, #c65a03 80%),
              linear-gradient(90deg, #c65a03, #e19230 100%);
    border-radius: 15px;
    margin: 2% auto;
  } 

  .Bbq, 
  .Mayo, 
  .Ketchup, 
  .Mustard {
    width: 15%;
    margin: 2%;
    height: 2%;
    border-radius: 100%;
    display: inline-block;
  }
  
  .Bbq {
    background: linear-gradient(120deg, white, rgb(92, 55, 24) 40%)
  }
  
  .Mayo {
    border: 1px solid black;
    background: linear-gradient(120deg, white, rgb(224, 224, 224) 40% )
  }
  
  .Ketchup {
    background: linear-gradient(120deg, white, red 40% )
  }
  
  .Mustard {
    background: linear-gradient( 120deg, white, yellow 40% )
  }