.Btn {
    width: 30px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background: linear-gradient( #ff61ff 30%, #e506e5 65%, #a100a1 100%); 
    font-weight: 800;
    cursor: pointer;
    position:absolute; 
    top: 0; 
    right: 0;
  }
  
  .Btn:hover {
    background: #1efffa;
  }
  
  .Btn:focus {
    outline: none;
  }