.Button {
    border: none;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.596);
    background: linear-gradient( #4afffc 30%,#ff51ff 100%);
    border-radius: 5px;
    font-size: 1.2rem !important;
    width: 300px;
    font: inherit;
    box-shadow:black;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .Button:hover {
    background: linear-gradient( #ffabff 30%, #90fffd 100%);
  }

  .Button:focus {
    outline: none;
  }



.Start {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}